/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
html {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    /* border: 5px solid red; */
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 7px;
    padding: 6vh 5vh 15vh;
    /* overflow: auto; */
}

.container .card {
    /* width: 300px;*/
    height: calc((100% / 5) - ((15px * 4) / 5)); 
    flex-basis: calc((100% / 7) - ((10px * 6) / 7));
    background-color: yellow;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.bottom-bar {
    height: 10vh;
    /* border: 2px solid lime; */
    background-color: #222222;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-bar .video-audio {

}

.bottom-bar .main-tools {

}

.bottom-bar {
    padding-inline: 10px;
}

.bottom-bar a {
    text-decoration: none;
    color: red;
    text-transform: capitalize;
}

.bottom-bar .end-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px 0;
}

.bottom-bar .end-button:hover {
    background-color: #4a4a4a;
}