/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
html {
    font-family: sans-serif;
}

.container {
    height: 90vh;
    /* border: 5px solid red; */
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 7px;
    /* padding: 6vh 5vh 15vh; */
    padding: 50px 20px;
    /* overflow: auto; */
}

.container .card {
    /* width: 300px;*/
    height: calc((100% / 5) - ((15px * 4) / 5)); 
    flex-basis: calc((100% / 7) - ((10px * 6) / 7));
    background-color: yellow;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.bottom-bar {
    height: 10vh;
    /* border: 2px solid lime; */
    background-color: #222222;
    color: white;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px 0;
    font-size: 25px;
}

.bottom-bar a {
    text-decoration: none;
    color: red;
    text-transform: capitalize;
}

.bottom-bar .video-audio, .bottom-bar .main-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.bottom-bar .main-tools i:nth-child(4) {
    color: greenyellow;
}

.bottom-bar .main-tools i .description {
    color: white;
}

.bottom-bar .end-button:hover {
    background-color: #4a4a4a;
}

.bottom-bar i {
    text-align: center;
}

.bottom-bar i:hover {
    cursor: pointer;
}

.bottom-bar i .description {
    display: block;
    font-size: 10px;
    margin-top: 5px;
}

.fa-chevron-up {
    font-size: 15px;
    height: 100%;
}

.bottom-bar .end-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    font-size: 15px;
}

.container .speaker-full {
    position: absolute;
    top: 10px;
    right: 0;
    color: white;
}

.container .speaker-full span:first-child, .container .speaker-full span:last-child {
    margin-right: 10px;
    background-color: grey;
    border-radius: 5px;
    padding: 3px 5px;
}

.container .speaker-full span:first-child:hover , .container .speaker-full span:last-child:hover {
    cursor: pointer;
}

.container .card .card-info {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.4);
    font-size: 12px;
    padding: 2px 4px;
}

/* html, body{
    margin:0;
    padding:0;
}

h1, p{
    margin:0 0 1em;
} */

/* EXERCISE COMPLETED */